<?xml version='1.0' encoding='utf-8'?>
<plugin id="me-plugin-autoUpdatePlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AutoUpdatePlugin</name>
    <js-module name="AutoUpdatePlugin" src="www/AutoUpdatePlugin.js">
        <clobbers target="cordova.plugins.AutoUpdatePlugin" />
    </js-module>


	 <!-- android -->
    <platform name="android">  
       

        <source-file src="src/android/WsAutoUpdate.java" target-dir="src/me/plugin/update" /> 

        <config-file target="res/xml/config.xml" parent="/*">  
            <feature name="WsAutoUpdate">  
                <param name="android-package" value="me.plugin.update.WsAutoUpdate"/>  
            </feature>  
        </config-file>  

        <config-file target="AndroidManifest.xml" parent="/*">    
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />    
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>   
        
    </platform>  


</plugin>
